    <h1>Articles</h1>
    <div class="row">
        {% for article in articles %}
            <div class="col-4 my-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Заголовок: {{ article.title }} ({{ article.get_comments_count }})</h5>
                        <p class="card-text">Автор: {{ article.author }}</p>
                        <p class="card-text">Теги: {% for tag in article.tags.all %}
                            {{ tag.name }} {% if  not forloop.last %},{% endif %}
                        {% endfor %}</p>
                        <a href="{{ article.get_absolute_url }}" class="btn btn-primary">Подробнее...</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}