{% extends 'base.html' %}

{% block nav %}

    {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'webapp:article_add' %}">Add Article</a>
        </li>

        {% if perms.webapp.change_article or article.author == request.user %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'webapp:article_update' article.pk %}">Update</a>
            </li>
        {% endif %}
        {% if perms.webapp.delete_article  or article.author == request.user %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'webapp:article_delete' article.pk %}">Delete</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'webapp:article_comment_add' article.pk %}">Add Comment</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}

    <div class="card my-3">
        <div class="card-body">
            <h3 class="card-title fs-2">{{ article.title }}</h3>
            <p class="card-text text-secondary">Автор: {{ article.author }}</p>
            <p class="card-text text-secondary">Теги: {% for tag in article.tags.all %}
                {{ tag.name }} {% if  not forloop.last %},{% endif %}
            {% endfor %}</p>
            <p class="card-text">{{ article.content }}</p>
        </div>
    </div>
    <h3 class="ms-3">Comments:</h3>
    <div class="row">
        {% for comment in comments %}

            <div class="col-sm-4">
                <div class="card text-bg-light mb-3">
                    <div class="card-body">
                        <p class="card-text">{{ comment.text }}</p>

                        <div class="d-flex justify-content-around">
                            {% if perms.webapp.change_comment or comment.author == request.user %}
                                <a href="{% url 'webapp:comment_update' comment.pk %}"
                                   class="btn btn-success px-5">Update</a>
                            {% endif %}
                            {% if perms.webapp.delete_comment or comment.author == request.user %}
                                <a href="{% url 'webapp:comment_delete' comment.pk %}"
                                   class="btn btn-danger px-5">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Комментариев нет</p>
        {% endfor %}
    </div>
{% endblock %}