{% extends "base.html" %}
{% block title %}Delete Article{% endblock %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webapp:article_view' article.pk %}">View</a>
    </li>
{% endblock %}
{% block content %}
    <h1>Are you sure want to delete article "{{ article.title }}"?</h1>
    <form method="POST" action="{% url "webapp:article_delete" article.pk %}" class="text-center">
        {% include 'partial/form.html' with button_text="Delete" %}
        <p><a href="{% url "webapp:article_view" article.pk %}">Next</a></p>
    </form>
{% endblock %}
